{% extends "AppTorneo/padre.html" %}

{% load static %} 


{%block titulo%}
    <div class="masthead-subheading"></div><br><br>
    <div class="masthead-heading text-uppercase">Editar Usuario</div>

{%endblock%}

{% block contenidoVariable %} 

<h1> USUARIO {{ user}} </h1>

<p> Agrega una nueva imagen a tu perfil: </p>

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    {{ miFormulario.as_p }}


    <input type="submit" value="Cargar imagen">

</form><br>

<p> Te arrepentiste? <a href = "{% url 'Inicio'%}">Volver a Inicio</a></p>

{%endblock%} 