{% extends "AppTorneo/padre.html" %}

{% load static %} 

{% block titulo %}
    
    <div class="masthead-subheading">conoce los torneos que se juegan en cada sede</div>
    <div class="masthead-heading text-uppercase">TORNEOS</div>

{% endblock %}


{% block contenidoVariable %} 

<h1> BUSQUEDA DE TORNEOS POR SEDE </h1>

<p> NUESTRAS SEDES: CHACARITA - PALERMO  </p>

<form action = "/AppTorneo/buscar/"  method = "GET"> 

    <input type = "text" name = "sede" id = "sede" >

    <input type = "submit" value="enviar">

</form>

{%endblock%} 