{% extends "AppTorneo/padre.html" %}

{% load static %} 


{%block titulo%}
    <div class="masthead-subheading"></div><br><br>
    <div class="masthead-heading text-uppercase">Acerca de nosotros</div>

{%endblock%}

{% block contenidoVariable %} 

<h1> Integrantes</h1>

<h5><b>Belen De Marco </b></h5>
<p> EDAD 35 / PROFESION: BIOQUIMICA <br>
<i> Hice el curso para contar con una base de Python al momento de estudiar Data Science, que es el proximo a seguir!</i><br>
En esta Proyecto hice: Creacion de Proyecto/App + clases, Herencia + mejora de templates, Busqueda Torneo, CRUD sedes, logout, avatar </p>


<h5><b>Christian Vila </b></h5>
<p> EDAD 31 / PROFESION: QA TESTER<br>
<i>Estoy aprendiendo python para aprender a automatizar procesos de testing. Esta es mi primera experiencia de desarrollo web con django.</i><br>
En esta Proyecto hice: CRUD equipos, login, register, editarPerfil, tests, readme </p>

{%endblock%} 

