{% extends "AppTorneo/padre.html" %}

{% load static %} 

{% block titulo %}
    <div class="masthead-subheading"></div><br><br> 
    <div class="masthead-heading text-uppercase">TORNEOS</div>

{% endblock %}


{% block contenidoVariable %} 

    <h3> Torneos en la sede {{sede}} </h3><br>

    {% if torneos %}

        <u1>
        {% for torneo in torneos %}

        <li> Torneo:<b>{{torneo.nombre}} </b> <br>
            <p>Categoría: {{torneo.tipo}} - {{torneo.categoria}} <br>
             Inicio: {{torneo.inicio}}</p><br>
        </li> 
        
        {% endfor %}
        <a href = "{% url 'TorneosFormulario'%}">AGREGAR NUEVO TORNEO</a>
        </u1>

        {% else %}
        <p><b>No se encontraron torneos en la sede ingresada </b></p>
            
            <p style= "color: red;">{{respuesta}}<br></p>
        
            <p>Queres realizar una nueva busqueda? <a href = "{% url 'Torneos'%}">BUSCAR</a><br></p>

    {% endif %}

{%endblock%} 