{% extends "AppTorneo/padre.html" %}


{% load static %}

{%block titulo%}

    <div class="masthead-subheading"></div><br><br>
    
    <div class="masthead-heading text-uppercase">SEDES</div>

{%endblock%}

{% block contenidoVariable %} 


      <h3>Conoce nuestras sedes!</h3> <br>
          <ul>
            {% for sede in object_list %}
            <li>

              <p>NOMBRE: {{ sede.nombre}}</p>

              <p>
              <a href="{% url 'SedeDetail' sede.id %}">Ver más</a>
              <a href="{% url 'SedeEdit' sede.id %}">Editar</a>
              <a href="{% url 'SedeDelete' sede.id %}">Borrar</a>

            </p>

            </li>

            {% endfor %}

          </ul>
        
          <a href = "{% url 'SedeNew' %}">Agregar otra sede</a>

{% endblock %}
