{% extends "AppTorneo/padre.html" %}

{% load static %} 


{%block titulo%}
    <div class="masthead-subheading"></div><br><br>
    <div class="masthead-heading text-uppercase">SEDES</div>

{%endblock%}

{% block contenidoVariable %} 

{% if miFormulario.errors %}

<p>ERROR</p>
{%endif%}

<form action = "/AppTorneo/sedesFormulario" method = "POST"> {% csrf_token %} 
 <h5>Agregar nueva SEDE</h5>
    <table>
    {{ miFormulario.as_table }}
    <table>

    <br><input type= submit   value = "ENVIAR">

    </form> 

{%endblock%}