{% extends "AppTorneo/padre.html" %}

{% load static %} 

{% block titulo %}
    <div class="masthead-subheading"></div><br><br>
    <div class="masthead-heading text-uppercase">TORNEOS</div>

{% endblock %}


{% block contenidoVariable %} 

<h1> NUESTROS TORNEOS </h1>

<p> Descripcion zarazasa  </p>

<h5> BUSQUEDA </h5>
<p> Conocé que torneos se juegan en cada sede, ingresando tu sede de interes en el buscador: </p>

<form action = "/AppTorneo/buscar/"  method = "GET"> 

    <input type = "text" name = "sede" id = "sede" >

    <input type = "submit" value="enviar">

</form>

{%endblock%} 