{% extends "AppTorneo/padre.html" %}

{% load static %} 


{%block titulo%}
    <div class="masthead-subheading"></div><br><br>
    <div class="masthead-heading text-uppercase">AGREGAR TORNEO</div>
    
{%endblock%}

{% block contenidoVariable %} 


<h5> Cargar nuevo torneo</h5>

<form action="/AppTorneo/torneosFormulario" method = "POST"> {% csrf_token %} 

    <table>
        
        {{ miFormulario.as_table }}

    </table>
    
        <input type= submit   value = "ENVIAR">
   
</form>


{%endblock%} 